<html>
<head>
<meta charset='utf-8'>
<title>Hello</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
  <h1 class="display-4 mb-4">{{.Title}}</h1>

  {{if .Flg}}
  <p>{{.Message}}</p>
  {{ else }}
  <p>{{.JMessage}}</p>
  {{end}}

  <ul class="list-group">
    {{ range $index, $element := .Items }}
    <li class="list-group-item">{{$index}}: {{$element}}</li>
    {{ end }}
  </ul>

  {{ with .Message }}
  <p>OK, message id here!</p>
  {{ else }}
  <p>no message</p>
  {{ end }}

  <p>Params(name):{{.ParamId}}</p>
  <p>Form(Name):{{.PostName}}</p>
  <p>Form(Pass):{{.PostPass}}</p>

  <form action="/hello" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" name="pass">
    </div>
    <button type="submit" class="btn btn-primary">Click</button>
  </form>
  <p>ログインしているか:{{.IsLogin}}</p>
  <p>ログイン名:{{.Lname}}</p>
</body>
</html>
